.App{
  width: 100%;
  align-content: center;
  margin: auto;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: darkorange;
  position: relative
}
.HeaderImg{
  width: 100%;
  height: 180px;
}
.logo{
  position: absolute;
  bottom: 5px;
  width: 50px;
  height: 40px;
}
.nav-links{
  position: relative;
  right: 30px;
  width: 633px;
  display: flex;
  top: 5px;
  justify-content: space-between;
  list-style: none;
}
.reusebar{
  background-color: black;
}
h1{
  text-align: center;
  color: whitesmoke;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
}
.col-9{
  text-align: center;
  align-content: center;
  justify-content: center;
}

.banner{
  position: sticky;
  width: 97%;
  top:0px;
}
span.MuiBadge-colorPrimary{
  background-color: black;
  color: darkorange
}
span.MuiBadge-badge{
  top: 2vw;
  left:-1.3vw;
  width: 1.4vw;
}
svg.MuiStepIcon-root.MuiStepIcon-completed{
  color: darkorange
}
svg.MuiStepIcon-root.MuiStepIcon-active{
  color: black
}
div.MuiPaper-root{
  background: black
}
span.MuiStepConnector-line{
  border-color: darkorange
}
text.MuiStepIcon-text{
  fill: darkorange
}
span.MuiStepLabel-label.MuiStepLabel-active{
  color: darkorange
}
.userorderinfo{
  margin: 4vw;
  margin-left: 6.9vw;
  margin-right: 6.9vw;
  font-size: 1.2vw;
}
input.form-control{
  font-size: 1.2vw
}
option.form-control{
  font-size: 1.2vw
}
span.MuiTypography-body2{
  font-size: 1.2vw
}
span.MuiStepIcon-text{
  font-size: 1.2vw
}
input.form-control.inputsearch{
  font-size: 1.2vw
}
.dropdown-item:active{
  background-color: #6f6f6f;
}
div Link{
  color: black;
}